@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  @font-face {
    font-family: ringBearer;
    font-weight: 300;
    src: url(/Fonts/RingbearerMedium.ttf) format("woff");
  }
}
